.content-photo {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1fr 1fr 1fr;
    &_item{
        background-size: 100% auto;
        &:nth-child(2){
            background: url('/src/img/mohammad-rahmani-cY1SvvEfRwk-unsplash.jpg') no-repeat;
        }
        &:nth-child(3){
            background: url('/src/img/umberto-deb2EnbWPr8-unsplash.jpg') no-repeat;
        }

    }
}